/*
  console.rc - Help and version resources for CONSOLE.DLL.

  Jason Hood, 20 October, 2009.

  Originally I had one big help screen, but the dialog is limited to 4095
  characters, so now it's split into several.
*/

#include <windows.h>
#include "resources.h"

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  0, "Console Commands"
  1, "Game Commands"
  2, "Base Commands"
  3, "Movement Commands"
  4, "Ship Commands"
  5, "HUD Commands"
  6, "Player Commands"
  7, "Miscellaneous Commands"

IDS_VERSION,		"Version 1.24 (7 May, 2016)."
IDS_GAME_SAVED+0,	"Game NOT saved."
IDS_GAME_SAVED+1,	"Game saved."
IDS_QUICK_SAVE, 	"Quick Save%s"
IDS_GAME_NOT_FOUND,	"Game not found."
IDS_OBJECT_NOT_FOUND,	"Object not found."
IDS_CRUISESPD,		"Cruise speed = %g m/s"
IDS_CRUISEACC,		"Cruise accel time = %gs"
IDS_ANIMATION_NOT_FOUND, "Animation not found."
IDS_BASE_NOT_FOUND,	"Base not found."
IDS_SYSTEM_NOT_FOUND,	"System not found."
IDS_SHIPS,		"Ships"
IDS_SHIP_NOT_FOUND,	"Ship not found."
IDS_NO_SHIPS_HERE,	"No ships here."
IDS_REPAIR_DAMAGE,	"Repair damage."
IDS_PARKED,		"Parked %s."
IDS_DRIVE_A_SHIP,	"Drive a ship."
IDS_SOLD_FOR,		"Sold %s for %s."
IDS_SPECIFY_BASE,	"Specify base."
IDS_GHOST_OFF,		"Ghost: off"
IDS_GHOST_ON,		"Ghost: on"
IDS_GODMODE_OFF,	"Godmode: off"
IDS_GODMODE_ON, 	"Godmode: on"
IDS_NTB_OFF,		"NTB: off"
IDS_NTB_ON+0,		"NTB: on"
IDS_NTB_ON+1,		"NTB: sight"
IDS_SHOW_ON,		"Show: on"
IDS_SHOW_OFF,		"Show: off"
IDS_HOUSES_OFF, 	"House labels: off"
IDS_HOUSES_ON,		"House labels: on"
IDS_PPATHS_UNFILTERED,	"Patrol Paths: unfiltered"
IDS_PPATHS_FILTERED,	"Patrol Paths: filtered"
IDS_ZOOM_TIME,		"Zoom time = %g"
IDS_FACTION_NOT_FOUND,	"Faction not found."
IDS_REP,		"Reputation: %g"
IDS_REP_SAVED,		"Rep saved."
IDS_REP_LOADED, 	"Rep loaded."
IDS_MONKEY,		"Monkey."
IDS_ROBOT,		"Robot."
IDS_TRENT,		"Trent."
IDS_COSTUME_NOT_FOUND,	"Costume not found."
IDS_ROLLED      "Rolled %d."
IDS_PONG        "Pong!"
IDS_HEADS       "heads"
IDS_TAILS       "tails"
IDS_FLIPPED     "Flipped %s."
IDS_CMDS        "Available commands:"

IDS_TRANSFER,		"Item Transfer"
IDS_TRANSFER+1, 	"If you want to transfer an item, select it in a list. \
			 Set the quantity that you want to transfer and click \
			 the Transfer button."

IDS_NO_CLIP,		"Clipboard unavailable."
IDS_COPIED,		"Position copied."
IDS_BOOKMARKS,		"Bookmarks"
IDS_BOOKMARK_SET,	"Bookmark set."
IDS_BOOKMARK_NOT_SET,	"Bookmark not set."

IDS_SOUND_NOT_FOUND,	"Sound not found."
IDS_UTF_NOT_FOUND,	  "UTF not found."

IDS_CARGO_NOT_FOUND,	"Cargo not found."
IDS_CARGO_SUCCESS,	  "Added"
IDS_CARGO_FAIL,	      "Could not add"
IDS_CARGO_ADD         " %s (%u) to cargo hold."
IDS_INVALID_QUANTITY, "Quantity must be at least 1."

IDS_LOADOUT_NOT_FOUND, "Loadout not found."
IDS_LOADOUT_SHIP_NOT_FOUND,	"Ship associated with loadout not found."
IDS_LOADOUT_SHIP_FAIL,	"Could not set "
IDS_LOADOUT_SHIP_CONJ,	" and %s."

IDS_VOICE_NOT_FOUND,	"Voice not found."
IDS_VOICE_APPLY_CHANGES, "Save game and reload to apply changes."

}


1 VERSIONINFO
FILEVERSION    1,2,0,4
PRODUCTVERSION 1,2,0,4
FILEOS	       0x40004
FILETYPE       0x1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName",     "Jason Hood"
      VALUE "FileDescription", "Single-player command console"
      VALUE "FileVersion",     "1.24"
      VALUE "ProductName",     "Freelancer"
      VALUE "ProductVersion",  "1, 0, 0, 0"
      VALUE "Comments",        "http://freelancer.adoxa.vze.com/"
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 0x04B0
  }
}
