/*
  console.rc - Help and version resources for CONSOLE.DLL.

  Jason Hood, 20 October, 2009.

  Originally I had one big help screen, but the dialog is limited to 4095
  characters, so now it's split into several.
*/

#include <windows.h>
#include "resources.h"

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  0, "Commands der Konsole"
  1, "Commands des Spielablaufs"
  2, "Commands an Deck einer Basis"
  3, "Commands für Bewegung"
  4, "Commands zum Schiff"
  5, "Commands zum Head-Up-Display"
  6, "Commands zum Spieler"
  7, "Weitere Commands"

IDS_VERSION,		"Version 1.24 (7. Mai 2016)."
IDS_GAME_SAVED+0,	"Spiel NICHT gespeichert."
IDS_GAME_SAVED+1,	"Spiel gespeichert."
IDS_QUICK_SAVE, 	"Schnellspeicherung%s"
IDS_GAME_NOT_FOUND,	"spiel nicht gefunden."
IDS_OBJECT_NOT_FOUND,	"Objekt nicht gefunden."
IDS_CRUISESPD,		"Reiseflug-Geschw. = %g m/s"
IDS_CRUISEACC,		"Reiseflug-Beschleu.-zeit = %gs"
IDS_ANIMATION_NOT_FOUND, "Animation nicht gefunden."
IDS_BASE_NOT_FOUND,	"Basis nicht gefunden."
IDS_SYSTEM_NOT_FOUND,	"System nicht gefunden."
IDS_SHIPS,		"Schiffe"
IDS_SHIP_NOT_FOUND,	"Schiff nicht gefunden."
IDS_NO_SHIPS_HERE,	"Kein Schiff da."
IDS_REPAIR_DAMAGE,	"Schaden reparieren."
IDS_PARKED,		"%s geparkt."
IDS_DRIVE_A_SHIP,	"Ein Schiff fliegen."
IDS_SOLD_FOR,		"%s für %s verkauft."
IDS_SPECIFY_BASE,	"Geben Sie eine Basis an."
IDS_GHOST_OFF,		"Ghost: Aus"
IDS_GHOST_ON,		"Ghost: An"
IDS_GODMODE_OFF,	"Godmode: Aus"
IDS_GODMODE_ON, 	"Godmode: An"
IDS_NTB_OFF,		"NTB: Aus"
IDS_NTB_ON+0,		"NTB: An"
IDS_NTB_ON+1,		"NTB: Sicht"
IDS_SHOW_ON,		"Show: An"
IDS_SHOW_OFF,		"Show: Aus"
IDS_HOUSES_OFF, 	"House-Label: Aus"
IDS_HOUSES_ON,		"House-Label: An"
IDS_PPATHS_UNFILTERED,	"Patrouillenrouten auf Nav-Karte versteckt"
IDS_PPATHS_FILTERED,	"Patrouillenrouten auf Nav-Karte wieder sichtbar"
IDS_ZOOM_TIME,		"Zoomverzögerung = %g"
IDS_FACTION_NOT_FOUND,	"Gruppierung nicht gefunden."
IDS_REP,		"Ansehen: %g"
IDS_REP_SAVED,		"Ansehen gespeichert."
IDS_REP_LOADED, 	"Ansehen geladen."
IDS_MONKEY,		"Primat."
IDS_ROBOT,		"Roboter."
IDS_TRENT,		"Trent."
IDS_COSTUME_NOT_FOUND,	"Kostüm nicht gefunden."
IDS_ROLLED      "Würfel zeigt %d."
IDS_PONG        "Pong!"
IDS_HEADS       "Kopf"
IDS_TAILS       "Zahl"
IDS_FLIPPED     "Münze zeigt %s."
IDS_CMDS        "Verfügbare Commands:"

IDS_TRANSFER,		"Item Übergabe"
IDS_TRANSFER+1, 	"Falls Sie ein Item übergeben wollen, wählen Sie es aus einer Liste. \
			 Legen Sie die Menge fest, die Sie übergeben wollen, dann drücken Sie \
			 den Übergabe-Knopf."

IDS_NO_CLIP,		"Clipboard nicht verfügbar."
IDS_COPIED,		"Position kopiert."
IDS_BOOKMARKS,		"Lesezeichen"
IDS_BOOKMARK_SET,	"Lesezeichen gesetzt."
IDS_BOOKMARK_NOT_SET,	"Lesezeichennicht gesetzt."

IDS_SOUND_NOT_FOUND,	"Sound nicht gefunden."
IDS_UTF_NOT_FOUND,	  "UTF nicht gefunden."

IDS_CARGO_NOT_FOUND,	"Item nicht gefunden."
IDS_CARGO_SUCCESS,	  "In Frachtraum geladen:"
IDS_CARGO_FAIL,	      "Konnte nicht in Frachtraum laden:"
IDS_CARGO_ADD         " %s (%u)."
IDS_INVALID_QUANTITY, "Anzahl muss mindestens 1 betragen."

IDS_LOADOUT_NOT_FOUND, "Loadout nicht gefunden."
IDS_LOADOUT_SHIP_NOT_FOUND,	"Zum Loadout zugehöriges Schiff wurde nicht gefunden."
IDS_LOADOUT_SHIP_FAIL,	"Konnte "
IDS_LOADOUT_SHIP_CONJ,	" und %s nicht ändern."

IDS_VOICE_NOT_FOUND,	"Voice nicht gefunden."
IDS_VOICE_APPLY_CHANGES, "Speichern Sie ab und laden Sie den Spielstand, um die Änderung wirksam zu machen."
IDS_COMPLETE_CAMPAIGN, "Beenden Sie erst die Singleplayer-Kampagne. Geben Sie “help player” ein um mehr zu erfahren."
IDS_VOICE_WARNING, "Achtung: Es könnte während der Story-Missionen zu Soft-Locks und fehlenden Voice Dialogs kommen."

}


1 VERSIONINFO
FILEVERSION    1,2,0,4
PRODUCTVERSION 1,2,0,4
FILEOS	       0x40004
FILETYPE       0x1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName",     "Jason Hood"
      VALUE "FileDescription", "Single-player command console"
      VALUE "FileVersion",     "1.24"
      VALUE "ProductName",     "Freelancer"
      VALUE "ProductVersion",  "1, 0, 0, 0"
      VALUE "Comments",        "http://freelancer.adoxa.vze.com/"
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 0x04B0
  }
}
